*.ply
*.pt
!test.ply
.ipynb_checkpoints
.idea
lightning_logs/
tensorboard_logs/
logs/
data/*
*.npz
*.ipynb
*.pyc
experiment_config/
*.stl
*.obj
*.exports
pointnet2_ops_lib/build
pointnet2_ops_lib/dist
pointnet2_ops_lib.egg-info

