trimesh~=3.20.2
numpy~=1.24.2
fastapi
pandas~=1.5.3
matplotlib~=3.7.1
lightning~=2.0.1.post0
torchmetrics~=0.11.4
jupyterlab
networkx~=3.0
boto3~=1.26.97
tensorboard
seaborn~=0.12.2
gdist
torch~=1.13.1+cu117
tqdm~=4.65.0
scipy~=1.10.1
sklearn~=0.0.post5
scikit-learn~=1.2.2